CREATE TABLE saved_cards (id BIGINT PRIMARY KEY AUTO_INCREMENT, user_id BIGINT NOT NULL, card_number VARCHAR(255) NOT NULL, expiry_date VARCHAR(255) NOT NULL, card_holder_name VARCHAR(255) NOT NULL, last_four_digits VARCHAR(4) NOT NULL, card_type VARCHAR(50), is_default BOOLEAN DEFAULT FALSE, created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP, updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP, FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE, INDEX idx_user_cards (user_id)) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4;
